/*opacidade */
#cores {
  width: 200px;
  height: 200px;
  background-color: rgba(54, 199, 102, 0.5);
}

#cores2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(red, blue);
}

#cores3 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to right, red, blue);
}

#cores4 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to top left, red, blue, yellow);
  /*
  background: linear-gradient(45deg, red, blue, yellow);
  */
}

#cores5 {
  width: 200px;
  height: 200px;
  background: radial-gradient(red, blue, yellow, white);
  /*
    background: linear-gradient(45deg, red, blue, yellow);
    */
}
