/* Agrupamento de seeletores */
h1,
h2,
p {
  color: red;
  text-align: center;
}

/* Aula 02 do https://supercursos.thinkific.com */
/* Seletor universal */
/*
* {
  margin: 0;
  padding: 0;
}
*/
/* Seletor tag 
h1 {
  color: blue;
  font-size: 50px;
}
p {
  color: rgb(57, 168, 24);
  font-size: 30px;
}
*/
/* Seletor atributo 
input[type="text"] {
  width: 200px;
  background-color: #ccc;
  height: 35px;
  border: none;
}

input[name="email"] {
  width: 200px;
  background-color: rgb(212, 112, 112);
  height: 35px;
  border: none;
}
input[type="submit"] {
  width: 50px;
  background-color: rgb(143, 128, 128);
  height: 35px;
  border: none;
  cursor: pointer;
  color: #fff;
}
*/

/* AULA - 01 
h1 {
  color: rgb(2, 252, 2);
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
*/
