p {
  color: red;
  text-align: justify;
  text-indent: 20px;
  line-height: 50px;
}
h1 {
  text-align: left;
  text-decoration: underline;
}
h2 {
  text-align: center;
  text-decoration: overline;
}
h3 {
  text-align: right;
  text-decoration: line-through;
}
